BOT_TOKEN=8731387712:AAEJUJg4ftWZLr6cCqtO4zboyMkiIQmx2bQ
LOGIN_EMAIL=aymenoukseleee@gmail.com
LOGIN_PASSWORD=aynS200420@
TARGET_MODEL=Grok Uncensored
TARGET_URL=https://gratisfy.xyz/chat
ALLOWED_USERS=7846022798
STREAM_INTERVAL=10
MAX_CONCURRENT_SESSIONS=5
PORT=8080
RAILWAY_PUBLIC_DOMAIN=testbot-production-3278.up.railway.app
PERSISTENT_DIR=/tmp/gratisfy-data
